main {
    padding: 3em;
}

.secao_sobre {
    display: flex;
    align-items: center;
}

.img_sobre {
    width: 300px;
    border-radius: 5%;
}

h1 {
    font-family: var(--fonte_titulos);
    font-size: 46px;
    color: var(--amarelo_claro);
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.5;
    padding: 2em;
}

.redes_sociais {
    background-color: var(--verde_claro);
    text-align: center;
    width: 100px;
    border-radius: 30px;
    padding: 0.25em;
    margin: 1em auto auto;
}

.icon_rede_social {
    padding-top: 0.5em;
    width: 40px;
}