:root {
    --verde_principal: #CCD3CA;
    --azul_escuro: #0b1636;
    --azul_medio: #11235A;
    --azul_claro: #4e5d8f;
    --verde_claro: #C6CF9B;
    --amarelo_claro: #F6ECA9;
    --cinza_claro: rgb(227, 229, 236);

    --fonte_titulos: "Handjet", sans-serif;
    --fonte_principal: "Ubuntu", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte_principal);
    color: var(--cinza_claro);
}

body {
    background-color: var(--azul_escuro);
}

/* HEADER */
header {
    background-color: var(--azul_claro);
    display: flex;
    justify-content: space-between;
    padding: 0.5em 2em;
    align-items: center;
}

header h3 {
    font-family: var(--fonte_titulos);
    color: var(--verde_claro);
}

.logo {
    width: 30px;
}

.link_header {
    text-decoration: none;
}

.item_menu {
    list-style: none;
}


/* MAIN */
/* Principal */
main {
    background-color: var(--azul_escuro);
    padding: 2em 5em;
}

.secao_principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.secao_principal h1 {
    font-family: var(--fonte_titulos);
    font-size: 48px;
    color: var(--verde_claro);
}

.secao_principal p {
    padding-top: 1em;
    width: 60%;
    text-align: justify;
    line-height: 1.5;
}

.img_principal {
    width: 300px;
    border-radius: 55%;
    box-shadow: 5px 3px 5px 1px rgb(81, 81, 82);
}

/* Banner */
.banner {
    background-color: var(--azul_medio);
    padding: 1.5em;
    margin: 2em 1em;
    border-radius: 10px;
}

.banner h2, h3 {
    font-family: var(--fonte_titulos);
    color: var(--amarelo_claro);
}

.lista_cidades {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}

.item_cidades h3 {
    padding-bottom: 0.5em;
    color: var(--cinza_claro);
}

.img_banner {
    width: 200px;
    border-radius: 5%;
}

/* FOOTER */
footer {
    background-color: var(--verde_principal);
    text-align: center;
    padding: 1em;
    height: 3em;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer h5 {
    font-family: var(--fonte_titulos);
    color: var(--azul_escuro);
    font-size: 18px;
}




