h1 {
    font-family: var(--fonte_titulos);
    font-size: 46px;
    text-align: center;
    color: var(--amarelo_claro);
    padding-bottom: 0.5em;
}

.texto_wishlist {
    text-align: justify;
    line-height: 1.5;
}

h2 {
    font-family: var(--fonte_titulos);
    font-size: 32px;
    color: var(--amarelo_claro);
    padding-top: 0.5em;
}

.wishlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.wishlist li {
    padding: 1em;
    list-style: none;
}

.wishlist img {
    width: 200px;
}

h3 {
    color: var(--verde_claro);
    padding-bottom: 0.5em;
}